.container-fluid {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color:#1a1919;
    background-size:16px 16px;
    
}

#strongBowPlay {
    width: 3rem;
   
    padding-left: 0;
    margin: 0;
    scale: 1.5
}

#heroModel {
    display: none;
    
}

.display-4 {
    font-family: 'oswald';
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 48px;
    
}

#aboutP {
    font-family: 'oswald';
    color: white;
    display: flex;
    margin-top: -1rem;
    
}

.list {
    margin-top: 2rem;
}

th {
    color: white;
    font-family: 'oswald';
    font-size: 1.3rem;

}
td {
    color: white;
    font-family: 'oswald';
    font-size: 1.25rem;
}



.flip-card {
    margin-top: 1rem;
    background-color: transparent;
    width: 250px;
    height: 200px;
    margin-bottom: 1rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border-radius: 10%;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #3a3a3a;
    color: black;
    border-radius: 10%;
    border: 1px solid white;
  }

  .flip-card-front img{
    border-radius: 10%;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(5, 5, 5);
    color: white;
    border-radius: 10%;
    transform: rotateY(180deg);
  }

  .cardH1 {
    font-family: 'oswald';
  }

  .cardP {
    font-family: 'oswald';
  }

label{
    color: white;
}

#contactP {
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#submitBtn {
    display: block;
    margin: auto;
    background-color: rgb(192, 192, 192);
    color: black;
    font-family: 'oswald';
    border: none;
    box-shadow: 0px 0px 10px rgba(194, 194, 194, 0.5);
    border-radius: 5px;
    border: 1px solid white;
}

#submitBtn:hover {
    background-color: rgb(44, 44, 44);
    box-shadow: 0px 0px 15px rgba(194, 194, 194, 0.75);
    color: white;
}

.text-white{
    font-family: 'oswald';
}

input[type="text"]:focus, input[type="email"]:focus {
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    box-shadow: none;
    color: white;
}

input[type="text"], input[type="email"] {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

#messageInput{
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}

#canvas {
    width: 100%;
    height: 100%;
}