body {
    margin: 0;
    padding: 0;
    
}


#img1 {
    position: absolute;
    z-index: 2;
    height: 3%;
    width: 3%;
    bottom: 3%;
    left: 95%;
    overflow: hidden;
}

#img2 {
    position: absolute;
    z-index: 1;
    top:75%;
    left: 6%;
    height: 7vh;
    width: 7vw;
    overflow: hidden;
}

.cardDiv {
    position: absolute;
    z-index: 1;
    height: 95%;
    width: 97.5%;
    top: 2.5%;
    left: 1%;
    overflow: hidden;
    
}

h5 {
    font-family: "Work Sans", sans-serif;
    position: absolute;
    color: #6adcf0;
    
    left: 5%;
    z-index: 4;
    font-size: 1.5em;
}

.card1 {
    position: absolute;
    z-index: 4;
    height: 400px;
    width: 250px;
    color: #fff;
    
    top: 10%;
    left: 5%;

}

.card2 {
    position: absolute;
    z-index: 1;
    height: 75%;
    width: 75%;
    color: #fff;
    
    top: 55%;
    left: 43%;


}

.card3 {
    position: absolute;
    z-index: 4;
    height: 75%;
    width: 75%;
    color: #fff;
    
    top: 0%;
    left: 35%;


}

.button1 {
    position: absolute;
    z-index: 4;
    height: 10%;
    width: 15%;
    font-family: 'Black Ops One', sans-serif;
    font-size: 1.5em;
    bottom: 25%; /* Adjust the value here */
    left: 60%; /* Adjust the value here */
    border: none; /* Add this line to remove the border */
}

button {
    position: absolute;
    display: block;
    flex-direction: row;
    z-index: 4;
    height: 100%;
    width: 100%;
    font-family: 'Black Ops One', sans-serif;
    font-size: 1.5em;
    bottom: 0%; /* Adjust the value here */
    left: 0%; /* Adjust the value here */
    border: none; /* Add this line to remove the border */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #6adcf0;
}

button:hover {
    background-color: #6adcf0;
    color:rgba(0, 0, 0, 1);
    cursor: pointer;
}


#span2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5em;
    position: absolute;
    color: #fff;
    top: 90%;
    left: 25%;

}



.banner {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: none;
    
}

.banner .slider{
    position: absolute;
    width: 10px;
    height: 20px;
    margin-top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 350s linear infinite;
   
}

.banner .slider .item .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
    opacity: 1;
    animation: spin 30s linear infinite;
}

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateY(-14deg) rotateX(0deg);
    }to{
        transform: perspective(1000px) rotateY(-14deg) rotateX(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateX(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(80px);
}





@keyframes spin{
    from{
        transform: rotateX(0deg);
    }to{
        transform: rotateX(180deg);
    }
}

.banner .slider .item .img:hover{
    width: 150%;
    height: 150%;
    object-fit: cover;
    transform:  translateY(-25px);
    filter:brightness(1); 
    opacity: 1;
    
}

.banner .slider .item .img:hover ~ .img{
    width: 150%;
    height: 150%;
    object-fit: cover;
    transform:  translateY(-25px);
    filter: brightness(1); 
    opacity: 1;
}

.banner1 {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: none;
    
}

.banner1 .slider1{
    position: absolute;
    width: 75px;
    height: 125px;
    margin-top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun1 550s linear infinite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@keyframes autoRun1{
    from{
        transform: perspective(1000px) rotateX(-14deg) rotateY(360deg);
    }to{
        transform: perspective(1000px) rotateX(-14deg) rotateY(0deg);
    }
}

.banner1 .slider1 .item1{
    
    position: absolute;
    inset: 0 0 0 0;
    transform: 
      
      rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) *1deg))
      translateZ(350px);
}



.banner1 .slider1 .item1 .img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
    opacity: 1;
}

.banner1 .slider1 .item1 .img1:hover{
    width: 150%;
    height: 150%;
    object-fit: cover;
    transform:  translateX(-25px);
    filter:brightness(1); 
    opacity: 1;
    
}

.banner1 .slider1 .item1 .img1:hover ~ .img1{
    width: 150%;
    height: 150%;
    object-fit: cover;
    transform:  translateX(-25px);
    filter: brightness(1); 
    opacity: 1;
}



#span1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5em;
    position: absolute;
    color: #fff;
    top: 10%;
    left: 5%;
}

#span01 {
    font-family: 'Black Ops One', sans-serif;
    font-size: 3em;
    position: absolute;
    color: #6adcf0;
    top: 5%;
    left: 5%;
    text-shadow: #6adcf0 0 0 40px;
}

#span001 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 5%;
}

#span0001 {
    font-family: 'Black Ops One', sans-serif;
    font-size: 6em;
    position: absolute;
    color: #6adcf0;
    top: 130%;
    left: 5%;
    text-shadow: #6adcf0 0 0 40px;
}







canvas {
    border: 1px solid #000;
    background: black;
    display: block;
    margin: 0 auto;
    
    position: relative;
    top: 0;
    left: 0;
}